<div class="book-list">
    <h2>Book List</h2>
    <ul *ngIf="books.length">
      <li *ngFor="let book of books">
        <div class="book-item">
          <div class="book-info">
            <h3 class="book-title">{{ book.title }}</h3>
            <p>Author: {{ book.author }} - Price: ${{ book.price }}</p>
          </div>
          <div class="book-actions">
            <button class="action-button edit" (click)="editBook(book.id!)">Edit</button>
            <button class="action-button delete" (click)="deleteBook(book.id!)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
</div>

  
